:root {

  /* Text properties */
    font-size: 10px;
    font-family: "Roboto", sans-serif;

    --text-sm: 1.2rem;
    --text-md: 1.6rem;
    --text-lg: 2.4rem;
    --text-xl: 3.2rem;

  /* Color properties */
  --black: #202020;
  --dark: #1a1d2e;
  --white: #fdfdfd;

  --primary-color: #ff8a24;
  --secondary-color: #ff6524;
  --tertiary-color: #ffab24;

  --text-color-dark: #1d0765;
  --text-color-middle: #5824ff;
  --text-color-light: #9ca4ff;

  --detail-color: #afff2f;
  --decking-color: #12ffa5;
}

* {
    
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}
