@import "./styles.css";

h1{
  font-size: var(--text-xl);
}

h2 {
  font-size: var(--text-lg);
}

h3 {
  font-size: var(--text-md);
}

p {
  font-size: var(--text-sm);
}

button {
  height: 40px;
  min-width: 120px;
  max-width: 240px;
  padding: 10px 24px;

  font-size: small;
  text-align: center;
  border-radius: 100px;
}
  
a {
  font-size: var(--text-sm);
}

.mobile-nav{
  display: none;
}

.links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;

  width: 70%;
}

.links > a {
  font-size: var(--text-md);
  color: var(--dark);

  text-align: left;
  padding-right: 24px;
}

.cta {
  margin: 10px;
}

.banner-section-row {
  justify-content: space-around;
}

.banner-section-column {
  flex-direction: column;
}

.card-collection {
  justify-content: space-around;
  align-items: center;
}

.card{
  height: 280px;
  width: 200px;
}

.card > img{
  height: 200px;
}

.card-content{
  height: 80px;
}

/* Section About Me */
.split-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 12px;
}

.left-side-row {
  display: flex;
  justify-content: space-between;

  margin-right: 24px;
}

.right-side {
  display: flex;
  justify-content: center;
}

#hero-img > img {
  width: 10%;
  height: 10%;
}

footer{
  padding-top: 16px;
}

footer .right-side {
  align-items: center;
  justify-content: center;
}

.topic-site p {
  text-align: left;
}

